<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://106.15.183.234:3306/soa</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="current_session_context_class">thread</property>
        <!--<property name="packagesToScan" >entity</property>-->
        <property name="hbm2ddl.auto">update</property>
        <mapping class="edu.nju.soa.entity.AddressEntity"/>
        <mapping class="edu.nju.soa.entity.CourseScoreEntity"/>
        <mapping class="edu.nju.soa.entity.DepartmentEntity"/>
        <mapping class="edu.nju.soa.entity.PersonInfoEntity"/>
        <mapping class="edu.nju.soa.entity.ScoreListEntity"/>
        <mapping class="edu.nju.soa.entity.StudentEntity"/>
        <mapping class="edu.nju.soa.entity.UserEntity"/>
        <mapping class="edu.nju.soa.entity.TDepartmentEntity"/>
        <mapping class="edu.nju.soa.entity.TScoreEntity"/>
        <mapping class="edu.nju.soa.entity.TStudentEntity"/>
    </session-factory>
</hibernate-configuration>